/* styles.css */

.col-1 {
    background-color: blue;
    color: white;
  }
  
  .col-2 {
    background-color: green;
    color: white;
  }

  .col-3 {
    background-color: red;
    color: white;
  }

  .col-4 {
    background-color: yellow;
    color: white;
  }

  .col-5 {
    background-color: orange;
    color: white;
  }

  .col-6 {
    background-color: purple;
    color: white;
  }

  .col-7 {
    background-color: pink;
    color: white;
  }

  .col-8 {
    background-color: brown;
    color: white;
  }

  .col-9 {
    background-color: black;
    color: white;
  }

  .col-10 {
    background-color: grey;
    color: white;
  }

  .col-11 {
    background-color: cyan;
    color: white;
  }

  .col-12 {
    background-color: magenta;
    color: white;
  }

  .col-13 {
    background-color: lime;
    color: white;
  }

  .col-14 {
    background-color: teal;
    color: white;
  }

  
  